@charset "utf-8";
/* CSS Document */

/*============ yahoo_reset =============*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/*============ end_yahoo_reset ===============*/

.clear-both {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
body {
	font-family: Arial,"宋体",Lucida,Verdana,Helvetica,sans-serif;;
	font-size: 12px;
	background: #1e7b76;
}
#header {
	height: 115px;
	padding-top: 6px;
	background: url(../img/login-topbar-bg.jpg) repeat-x left top;
}
.header-con {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.top-nav {
	width: 322px;
	height: 38px;
	position: absolute;
	right: 0;
	top: -6px;
	color: #fff;
	background: url(../img/login-topnav-bg.jpg) no-repeat left top;
}
.top-nav ul {
	margin: 12px 0 0 14px;
}
.top-nav li {
	float: left;
}
.top-nav a {
	padding: 0 13px;	
	color: #fff;
	text-decoration: none;
}

#main {
	background: url(../img/login-bg.jpg) repeat left top;
}
.main-con {
	width: 1000px;
	padding-top: 165px;
	margin: 0 auto;
	background: url(../img/login-logo.png) no-repeat 45px -60px;
}
.signup-form {
	width: 529px;
	height: 225px;
	padding: 70px 0 0 240px;
	margin-left: 100px;
	color: #3d4d72;
	background: url(../img/signup-bg.png) no-repeat left top;
}
.signup-form form {
	float: left;
	width: 280px;
}
.input-con {
	margin-bottom: 30px;
	line-height: 20px;
	position: relative;
}
.input-con p {
	display: none;
	width: 180px;
	height: 20px;
	position: absolute;
	left: 51px;
	top: 22px;
	color: #e6393d;
	line-height: 20px;
	text-indent: 5px;
	background: #ffebec;	
	border: 1px solid #ffbdbf;
}
.input-con input {
	width: 180px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #a0a0a0;
}
.radio-con {

}
.radio-con input {
	margin-left: 20px;
	vertical-align: middle;
	cursor: pointer;
}
.btn-con {
	margin-top: 28px;
	*margin-top: 18px;
}
.btn-con input{
	float: left;
	width: 70px;
	height: 25px;
	background: none;
	border: 0 none;
	cursor: pointer;
}
/*.btn-con a {
	float: left;
	width: 70px;
	height: 25px;
	margin-left: 15px;
	color: #3d4d72;
	font-size: 14px;
	line-height: 25px;
	text-decoration: none;
}*/
.signup-form .other-accounts {
	float: left;
	width: 200px;
	margin: -30px 0 0 22px;
}
.other-accounts h2 {
	font-size: 14px;
	font-weight: bold;
}
.other-accounts ul {
	margin: 33px 0 0 40px;
}
.other-accounts li {
	margin-bottom: 35px;
}
.other-accounts a {
	color: #0192dc;
	font-size: 14px;
	text-decoration: none;
}
.copyright {
	height: 43px;
	margin-top: 20px;
	color: #fff;
	line-height: 43px;
	text-align: center;
	background: url(../img/copyright-bg.png) no-repeat center center;
}

#footer {
	height: 120px;
	background: #1f7a75;
}

.blue-btn {
	float: left;
	width: 70px;
	height: 28px;
	margin-right: 10px;
	color: #FFF;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	background: url(../img/blue-btn.jpg) no-repeat left top;
}
.forget-btn {
	color: #3d4d72;
	font-size: 14px;
	line-height: 25px;
	text-decoration: none;	
}


/* popout 
======================================================== */

#popout {
	z-index: 999;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -160px;
	margin-top: -230px;
	width: 320px;
	height: 368px;	
	padding: 0 32px;
	background: #fff;
	border-radius: 5px;
}
#popout h3{
	color: #404040;
	font-size: 22px;
	font-weight: bold;
	padding: 32px 0 24px;
	line-height: 1;	
}
#popout .other-bind h3 {
	padding-top: 72px;
}
#popout .sec {
	padding-top: 28px;
}
#popout .note {
	font-size: 16px;
	color: #999;
	line-height: 1;	
}
#popout .do {
	margin-top: 16px;
}
#popout .do a {
	display: block;
	font-size: 18px;
	text-align: center;
	padding: 0;
	height: 40px;
	line-height: 40px;	
	color: #fff;
	text-decoration: none;
	background-color: #f60;	
	border-radius: 3px;	
	outline: 0;
}
#popout .do a.green {
	background-color: #48B60A;
}
#popout .do a.blue {
	background-color: #37a4e3;
}
#popout .close {
	width: 24px;
	height: 24px;
	margin: 0;
	background: url(../whimg/close-login.png) 0 0 no-repeat;
	position: absolute;
	z-index: 999;
	top: -8px;
	right: -8px;	
	cursor: pointer;
}

#popout .input-con {
	margin: 0;
	margin-top: 16px;
	position: relative;
}
#popout .input-txt {
	width: 308px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	height: 39px;
	line-height: 39px;
	padding: 0 5px;
	font-size: 14px;
	border-radius: 3px;	
}
#popout .placeholder {
	color: #afafaf;
	position: absolute;
	left: 8px;
	top: 12px;
	font-size: 14px;	
}
#popout .btn-bind {
	display: inline-block;
	background: 0;
	border: 0;
	font-size: 18px;
	border-radius: 3px;
	cursor: pointer;
	outline: 0;	
	width: 152px;
	text-align: center;
	line-height: 40px;
	height: 40px;
	float: left;
	padding: 0;	
	margin-right: 16px;
	color: #fff;
	text-decoration: none;
	background-color: #48B60A;
}
#popout .btn-back {
	display: inline-block;
	background: 0;
	border: 0;
	font-size: 18px;
	border-radius: 3px;
	cursor: pointer;
	outline: 0;	
	width: 152px;
	text-align: center;
	line-height: 40px;
	height: 40px;
	float: left;
	padding: 0;	
	text-decoration: none;
	background-color: #eee;
	color: gray;
}
#popout .loading {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .4;
	filter: alpha(opacity=40);
	background: #fff url(../whimg/loading.gif) center center no-repeat;	
}
.mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
}








